* {
    font-family: sans-serif
}


body {
    background-color: darkslategray;
}

#content-box {
    background-color: rgb(95, 158, 160);
    border: 5px solid rgb(66, 110, 111);
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 20vh;
}

#submit-btn {
    padding: 10px;
    background-color: rgb(58, 70, 70);
    border: 5px solid rgb(66, 110, 111);
    border-radius: 5px;
    color: snow;
    font-size: large;
}
#submit-btn:hover {
    color:rgb(120, 164, 164);
}

#cc-number {
    margin: 10px;
    padding: 10px;
}